body{
    background: url(/img/fondo.png);
    font-family: "Indie Flower";
    
}
.box-master{
display: flex;
  justify-content: center;
  align-items: center;
}
@font-face{
    font-family: "Indie Flower";
    src: url("/Fonts/Indie_Flower/IndieFlower-Regular.ttf");
}
.container{
    width:1000px;
}
.contain-Table{
    width: 70%;
    background-color: white;
    float: left;
}
.Links-derecha{
    float: left;
    width: 26%;
    padding: 2%;
}
.up-buttons{
    padding: 0px;
    background-color: white;
}
button{
    height: 40px;
    background-color: white;
    font-family: "Indie Flower";
}
button:hover{
    background-color: rgb(165, 165, 165);
}
thead{
    border: solid 1px;
    background-color:#009ddc;
}
td{
    padding: 10px;
    border: solid 1px;
    width: 500px;
}
table{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}
img{
    width: 200px;
    
}
.imgBorde{
    padding: 20px;
    
}
.div1{
    width: 46%;
    height: 75px;
    border: 15px ridge #22a738;
    float: left;

}
.div2{
    background-color:  #adee59;
    width: 32%;
    height: 75px;
    border: 15px inset #383d86;
    float: left;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    height: 20px;
}
a:hover{
    color: rgb(255, 0, 0);
}
a{
    color: black;
    text-decoration: none;
}
.h3-fix{
    text-decoration:underline;
}
.article{
    paddinG: 4%
}